@model List<CurdOperationFinalToFinal.Models.userData>
    @{
        //ViewData["Title"] = "Employee Details";
        var errorMessage = TempData["errorMessage"]?.ToString();
        var successMessage = TempData["successMessage"]?.ToString();
    }
    @*<h3>@ViewData["Title"]?.ToString()</h3>*@
    <style>
        tr{
            height:02px;
        }
    </style>
    
    @if (!string.IsNullOrWhiteSpace(@successMessage))
    {
        <div class="alert alert-success">
            <b>Success: </b>@successMessage
            <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    else if (!string.IsNullOrWhiteSpace(errorMessage))
    {
        <div class="alert alert-danger">
            <b>Error: </b>@errorMessage
            <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

<link rel=" stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />"
    <div class="container p-3" style="margin-top:-30px">
        <div class="row pt-4">
            <div class="col-6">
                <h2 class="text-primary">User List</h2>
            </div>
            <div class="col-6 text-end">
                <a asp-controller="User" asp-action="Create" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i> &nbsp; Add New Employee
                </a>
            </div>
        </div>
        <br />



        @if (Model.Count() > 0)
        {
            <table class="table table-bordered table-striped" id="userTable" style="margin-left:-50px">
                <thead>
                    <tr>
                        @*<th>Id</th>*@
                        <th>Name</th>
                        @*<th>Last Name</th>*@
                        <th>Date Of Birth</th>
                        <th>Email</th>
                        <th> Mobile Number</th>
                        <th> Active</th>
                        <th>Gender</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var obj in Model)
                    {
                        <tr>
                            @*<td width="">@obj.id</td>*@
                            <td width="">@obj.firstName @obj.lastName</td>
                            @*<td width="">@obj.lastName</td>*@
                            <td width="">@obj.dob.ToString("dd/MM/yyyy")</td>
                            <td width="">@obj.Email</td>
                            <td width="">@obj.phoneNumber</td>
                            <td width="">@obj.isActive</td>
                            <td width="">@obj.Gender</td>
                            <td>
                                <div class="w-75 btn-group" role="group">
                                <a class="" asp-controller="User" asp-action="Edit" asp-route-id="@obj.id"><i class="fa-solid fa-pen-to-square" style="color: #000000;"></i></a>
                                <a class="" asp-controller="User" asp-action="Delete" asp-route-id="@obj.id" style="margin-left:10px"><i class="fa-solid fa-trash" style="color: #ff0000;"></i></a>
                                </div>
                            </td>
                            @*<td>
                                <div class="w-75 btn-group" role="group">
                                <a class="btn btn-primary"><i class="fa-sharp fa-light fa-pen-to-square"></i></a>
                                    <a asp-controller="Employee" asp-action="Delete" asp-route-id="@obj.id"
                                       class="btn btn-danger mx-2"><i class="bi bi-trash-fill"></i>Delete</a>

                                </div>
                            </td>*@
                        </tr>
                    }
                </tbody>

            </table>

        }
        else
        {
            <p>No Employee available at this moment!</p>
        }
    </div>

